@import url("https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.display_flex_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.margin_lrft_right {
  margin: 10px;
}

.card_small {
  background: rgba(249, 222, 102, 0.849);
  background: linear-gradient(
    90deg,
    rgba(249, 223, 102, 0.24163168685442926) 0%,
    rgba(249, 223, 102, 0.7178221630449055) 100%
  );
  padding: 0.8vw;
  margin: 0.8vw 0.5vw;
  width: 125px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.13);
}
.card_small:hover {
  -webkit-box-shadow: 0px 0px 8px -200px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 8px -200px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 8px -200px rgba(0, 0, 0, 0);
}
.card_small img {
  width: 35px;
  margin-right: 10px;
}

.card_small p {
  line-height: 1.2;
  font-size: 13px;
}
.choose_name_txt {
  background: rgba(249, 222, 102, 0.849);
  background: linear-gradient(
    90deg,
    rgba(249, 223, 102, 0.24163168685442926) 0%,
    rgba(249, 223, 102, 0.7178221630449055) 100%
  );
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.13);
  width: 60vw;
  margin: auto !important;
  padding: 20px 30px;
}
.choose_name_txt div {
  width: 30%;
  text-align: center;
}

.choose_name_txt h3 {
  font-family: "Rammetto One", cursive;
  color: #404040;
  font-size: 30px;
  color: red;
  margin: 0px;
  padding: 0px;
}
.choose_name_txt img {
  width: 130px;
  margin-top: 5px;
  margin-bottom: 7px;
  /* margin: 20px; */
}
.choose_name_txt p {
  font-size: 18px;
  line-height: 1.5;
  color: #404040;
  width: 65%;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .display_flex_coloum {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card_small img {
    width: 29px;
    margin-right: 10px;
  }
  .choose_name_txt {
    margin: auto !important;
    padding: 20px 30px;
  }

  .card_small {
    width: 125px;
    margin: 1vw 0.8vw;
  }
  .margin_lrft_right {
    margin: none !important;
  }
  .choose_name_txt img {
    width: 130px;
    margin-top: 0px;
    margin-bottom: 10px;
    /* margin: 20px; */
  }
  .choose_name_txt p {
    width: 100%;
  }
  .choose_name_txt div {
    width: 100%;
  }
  .choose_name_txt {
    width: 70vw;
    margin: auto !important;
    padding: 20px 30px;
    margin-top: 20px !important;
  }
  
@media only screen and (max-width: 450px) {
  .card_small {
    width: 95px;
    margin: 1vw 1.5vw;
    border-radius: 5px;
  }
  .card_small img {
    width: 19px;
    margin-right: 7px;
  }
  .card_small p {
    line-height: 1.2;
    font-size: 10px;
  }
  .choose_name_txt {
    width: 75vw;
    padding: 10px 15px;
    margin-top: 20px !important;
  }
  .choose_name_txt p {
    width: 100%;
    font-size: 14px;
  }
  .choose_name_txt div {
    width: 100%;
    
  }
  .choose_name_txt div h3{
    font-size: 20px;
    
  }
}

}

